.heading {
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
}

.flex2 {
    width: 67%;
    padding: 20px 10px;
    background-color: #52556f;
    margin-top: 10px;
    color: black;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.flex1 p {
    margin: 0px;
}

.set-budget-btn {
    background-color: #4c5caf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
    height: 35px;
    padding: 4px 0px 0px 0px;
    border: 1px solid #ccc;
}

form {
    margin-top:20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius:10px;
}

.form1 {
    display: flex;
    padding: 10px;
    gap: 30px;
}

form p {
    text-align: center;
}

form hr {
    margin: 10px;
}

input {
    margin-left: 8px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.edit{
    margin-left:15px;
    margin-bottom: 10px;
}

.budget{
    margin-top: 20px;
    width:320px;
    border:1px solid white;
    padding:10px 30px 10px 30px;
    border-radius: 5px;
    background-color: rgb(6, 2, 28);
    transition: transform 0.2s ease, color 0.2s ease;
}
.budget:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 4px 4px 1px white;
}

.budget h3{
    margin: 9px 0px 0px 0px;
}
.budget1{
    display:flex;
    justify-content: space-between;
}
.budget p{
    margin:9px 0px 0px 0px;
}
.budget div div{
    margin-top:10px;
}
.budget1 button{
    width:150px;
    height: 50px;
    margin-top:35px;
    padding:0px;
}

.balances1{
    display:flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content:center;
}

.balances{
    width:300px;
    height: max-content;
    padding:10px 20px 10px 20px;
    background-color:  #52556f;
    border-radius: 10px;
    border:1px solid white;
}

.allingment{
    display:flex;
    gap:20px;
    flex-wrap: wrap;
}

.budget div{
    display:flex;
    justify-content: space-between;
}

.editores:hover{
    color:#3182ce;
}