.heading{
    display:flex;
    justify-content:space-between;
    padding :0px 30px;
}
.flex1{
    display:flex;
    flex-direction: row;
    gap:30px;
    margin:20px;
}
.flex2{
    width: 67%;
    padding:20px 10px;
    background-color:  #52556f;
    margin-top:10px;
    color:black;
    border-radius: 10px;
    border:1px solid #ccc;
}
.flex1 p{
    margin:0px;
}
.set-budget-btn{
    background-color: #4c5caf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width:120px;
    height:35px;
    padding:4px 0px 0px 0px ;
    border:1px solid #ccc;
}