body {
  background-color: #2d3748;
  color: white;
}

.title {
  margin-top: 100px;
  text-align: center;
}

.title2 {
  position: fixed;
  width: 250px;
  height: 100%;
  background-color: #52556f;
  border-right: 1px solid white;
}

.links {
  position: fixed;
  top: 230px;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  gap: 30px;
}

a {
  text-decoration: none;
  padding: 10px 50px;
  border: 1px solid white;
  color: rgb(255, 255, 255);
  text-align: center;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  background: #3182ce;
  color: #fff;
  transition: background 0.3s ease, transform 0.2s ease;
}

a:hover {
  background-color: #1b4067;
}

.header {
  position: fixed;
  width: 100%;
  height: max-content;
  background-color: #394760;
  padding: 20px;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: center;
  z-index: 1;
}

h4 {
  margin: 0;
}

.colorchange {
  position: fixed;
  top: 80%;
  margin-left: 3%;
  padding: 10px 40px;
  border-radius: 8px;
  background-color: #1f242b;
  color: white;
  border: none;
  cursor: pointer;
}

.sign-out {
  position: fixed;
  top: 86%;
  margin-left: 3.5%;
  padding: 10px 40px;
  border-radius: 8px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  justify-content: center;
}

.sign-out:hover {
  background-color: rgb(78, 78, 82);
  border: 1px solid white;
}

.form {
  --background: #d3d3d3;
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  padding: 20px;
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

.form>p {
  font-family: var(--font-DelaGothicOne);
  color: var(--font-color);
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form>p>span {
  font-family: var(--font-SpaceMono);
  color: var(--font-color-sub);
  font-weight: 600;
  font-size: 17px;
}

.separator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.separator>div {
  width: 100px;
  height: 3px;
  border-radius: 5px;
  background-color: var(--font-color-sub);
}

.separator>span {
  color: var(--font-color);
  font-family: var(--font-SpaceMono);
  font-weight: 600;
}

.oauthButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: auto 15px 15px auto;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 16px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
  transition: all 250ms;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.oauthButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.oauthButton:hover {
  color: #e8e8e8;
}

.oauthButton:hover::before {
  width: 100%;
}

.form>input {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: max-content;
  border: 1px solid white;
  padding: 40px 50px;
  text-align: center;
  margin: 130px auto;
  border-radius: 10px;
  gap: 0px;
  transition: transform 0.2s ease, color 0.2s ease;
}

.inputtype1 {
  margin: 0px;
}

.login:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 1px 1px 8px white;
  .hr{
    width: 140px;
    transform: scale(1.2);
  }
}

.hr {
  width: 100px;
  transition: transform 0.2s ease, color 0.2s ease;
}

.login p {
  margin: 0px;
}

h6{
  position:fixed;
  top:0px;
  left:90%;
  background-color: #212121;
  padding:5px;
  border-radius: 5px;
}

/* color change */
.text-color{
  color:rgb(0, 0, 0);
  background-color: #d3d3d3;
  transition: background-color 0.5s ease;
  .header{
     border-bottom: 1px solid black;
  }
  .budget{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, color 0.2s ease;
  }
  .budget:hover{
    transition: transform 0.2s ease, color 0.2s ease;
    transform: scale(1.1);
  }
  .title2{
    border-right: 1px solid black;
  }
  .header , .title2{
    background-color: #d3d3d3;
    transition: background-color 0.5s ease;
  }
  .value{
    color:black;
    transition: color 0.5s ease;
  }
  .card{
    background-color: white;
    transition: background-color 0.5s ease;
  }
  .chart-box , .pie, .bars,h6, .balances, .budget{
    background-color: white;
    transition: background-color 0.5s ease;
  }
  form{
    border:1px solid black;
    background: #2d3748;  
    color:white;
    transition: color 0.5s ease;
  }
  td{
    background-color: white;
    transition: background-color 0.5s ease;
  }
  a{
    background-color:#1f242b;
    transition: background-color 0.5s ease;
  }
  a:hover{
    background-color: #2b6cb0;
    transition: background-color 0.5s ease;
  }
}